#container{
    width: 1050px;
    height: 1020px;
    border: 0px solid grey;
    margin: 0 auto;
}
#header {
    width: auto;
    height: 100px;
    border: 0px solid grey;
    padding: 1px 0px;
}
#brand {
    width: 400px;
    height: 50px;
    margin-top: 25px;
    border: 0px solid grey;
    position: relative;
    float: left;
}
h1 a{
    font-size: 40px;
    font-weight: 100px;
    color: #002366;
    text-decoration: none;
}
#searchbox {
    width: 400px;
    height: 50px;
    margin-top: 25px;
    position: relative;
    float: right;
    background: linear-gradient(white, chartreuse);
    background: -webkit-linear-gradient(white, chartreuse);
    background: -o-linear-gradient(white, chartreuse);
    background: -moz-linear-gradient(hite, chartreuse);
    padding: 20px 20px 0px 20px; 
}
.text {
    float: right;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #002366;
    background: white url(images/search.png)right center no-repeat;
}
.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #002366;
    font-size: 15px;
}

#menu {
    width: auto;
    height: 70px;
    border: 0px solid grey;
    background: linear-gradient(#adff2f, #008000);
    background: -webkit-linear-gradient(#adff2f, #008000);
    background: -o-linear-gradient(#adff2f, #008000);
    background: -moz-linear-gradient(#adff2f, #008000);   
}

ul{
    list-style: none;
}
#menu ul li {
    float: left;
    padding: 30px 35px;
    height: 5px;
    border-right: 1px solid #002366; 
}
#menu ul li:last-child {
    border-right: none;
}
#menu ul li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color:#002366;
    line-height:5px;
    transition:font-size 0.3s ease;
    -webkit-transition:font-size 0.3s ease;
    -moz-transition:font-size 0.3s ease;
    -o-transition:font-size 0.3s ease;
    -ms-transition:font-size 0.3s ease;
}
#menu ul li a:hover, #menu ul li a.active{
    font-size:20px;
    font-weight:bold;
}
#content {
    width: auto;
    height: 250px;
    border: 0px solid grey;
    background: linear-gradient(white, yellowgreen);
    padding: 30px;
}
#content h3{
    font-size: 35px;
    font-weight: normal;
    color: #002366;
}
#content p{
    font-size: 25px;
    text-align: justify;
    color: #002366;
    font-family: candara;
    font-weight: normal;
    
}
#sidebars {
    width: auto;
    height: 400px;
    border: 0px solid grey;
}
.clear{
    clear: both;
    padding: 5px;
}
#leftsidebar {
    width: 450px;
    height: 360px;
    border: 1px solid #008000;
    float: left;
    border-radius: 20px;
    margin: 10px 0px;
    padding: 10px 20px;
}
#rightsidebar {
    width: 450px;
    height: 360px;
    border: 1px solid #008000;
    float: right;
    border-radius: 20px;
    margin: 10px 0px;
    padding: 10px 20px;
}
#rightsidebar h3 {
    color: green;
    font-size: 25px;
}
#leftsidebar h3{
    color: green;
    font-size: 25px;
}
#rightsidebar ul {
    color: green;
    font-size: 20px;
    line-height: 30px;
}
#leftsidebar ul {
    color: green;
    font-size: 20px;
    line-height: 25px;
}
#leftsidebar ul li{
    list-style-image: url(images/marker.png);
}
#rightsidebar ul a{
    text-decoration: none;
    
}
#leftsidebar ul a{
    text-decoration: none;
    
}
#rightsidebar ul a:hover{
    color: green;
    font-size: 23px;
    font-weight: bold;
    transition:font-size 0.3s ease;
    -webkit-transition:font-size 0.3s ease;
    -moz-transition:font-size 0.3s ease;
    -o-transition:font-size 0.3s ease;
    -ms-transition:font-size 0.3s ease;
    
}
#leftsidebar ul a:hover{
    color: green;
    font-size: 23px;
    font-weight: bold;
    transition:font-size 0.3s ease;
    -webkit-transition:font-size 0.3s ease;
    -moz-transition:font-size 0.3s ease;
    -o-transition:font-size 0.3s ease;
    -ms-transition:font-size 0.3s ease;
  }
#footer {
    width:auto;
    height:90px;
    border:0px solid grey;
    margin: 10px 0px 0px;
    background: linear-gradient(#adff2f, #008000);
    background: -webkit-linear-gradient(#adff2f, #008000);
    background: -o-linear-gradient(#adff2f, #008000);
    background: -moz-linear-gradient(#adff2f, #008000);   
}

